schemas/snack.xsd

<xsd:schema version="1.0"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="snack">
        <xsd:annotation>
            <xsd:documentation>
                Data Exchange Document Schema For Snack Software
                Snack: Learning Software For Nutrition
                Author: Jorge Rolando Garcia de Alba
                Version: 01
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <!-- mix -->
                <xsd:element name="mix" type="mix" minOccurs="1" maxOccurs="1"/>
                <!-- food list -->
                <xsd:element name="mix_food_list" type="mix_food_list" minOccurs="1" maxOccurs="1"/>
                <!-- nutrient constraint -->
                <xsd:element name="nutrient_constraint_list" type="nutrient_constraint_list" minOccurs="0" maxOccurs="1"/>
                <!-- food nutrient constraint -->
                <xsd:element name="food_nutrient_constraint_list" type="food_nutrient_constraint_list" minOccurs="0" maxOccurs="1"/>
                <!-- food nutrient ratio constraint -->
                <xsd:element name="food_nutrient_ratio_constraint_list" type="food_nutrient_ratio_constraint_list" minOccurs="0" maxOccurs="1"/>
                <!-- nutrient ratio constraint -->
                <xsd:element name="nutrient_ratio_constraint_list" type="nutrient_ratio_constraint_list" minOccurs="0" maxOccurs="1"/>
                <!-- percent of total nutrient constraint -->
                <xsd:element name="nutrient_percent_constraint_list" type="nutrient_percent_constraint_list" minOccurs="0" maxOccurs="1"/>                
            </xsd:sequence>
        </xsd:complexType>
        <xsd:unique name="Uniquely_Specified_Food">
            <xsd:selector xpath="food"/>
            <xsd:field xpath="id"/>            
        </xsd:unique>
    </xsd:element>
    <!-- mix -->
    <xsd:complexType name="mix">     
        <xsd:sequence>            
            <xsd:element name="mixid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <!--            <xsd:element name="nutrientid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>-->
            <!--            <xsd:element name="model" type="xsd:string" minOccurs="1" maxOccurs="1"/>-->
            <!--            <xsd:element name="note" type="xsd:string" minOccurs="1" maxOccurs="1"/>-->
        </xsd:sequence>
    </xsd:complexType>
    <!-- food list -->
    <xsd:complexType name="mix_food_list">     
        <xsd:sequence>                        
            <xsd:element name="food" type="food" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- nutrient_constraint_list -->
    <xsd:complexType name="nutrient_constraint_list">     
        <xsd:sequence>                        
            <xsd:element name="nutrient_constraint" type="nutrient_constraint" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>      
    <!-- nutrient constraint -->
    <xsd:complexType name="nutrient_constraint">     
        <xsd:sequence>                        
            <xsd:element name="nutrientid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>                      
            <xsd:element name="relationshipid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>                       
            <xsd:element name="b" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- food_nutrient_constraint_list -->
    <xsd:complexType name="food_nutrient_constraint_list">     
        <xsd:sequence>                        
            <xsd:element name="food_nutrient_constraint" type="food_nutrient_constraint" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>      
    
    <!-- food nutrient constraint -->
    <xsd:complexType name="food_nutrient_constraint">  
        <xsd:sequence>                           
            <xsd:element name="foodid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>            
            <xsd:element name="nutrientid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>            
            <xsd:element name="relationshipid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>                       
            <xsd:element name="b" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- food_nutrient_ratio_constraint_list -->
    <xsd:complexType name="food_nutrient_ratio_constraint_list">     
        <xsd:sequence>                        
            <xsd:element name="food_nutrient_ratio_constraint" type="food_nutrient_ratio_constraint" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>          
    <!-- food nutrient ratio constraint -->
    <xsd:complexType name="food_nutrient_ratio_constraint">   
        <xsd:sequence>
            <xsd:sequence minOccurs="2" maxOccurs="2">                                 
                <xsd:element name="foodid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>            
                <xsd:element name="nutrientid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
            <xsd:element name="relationshipid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="a" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="b" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- nutrient_ratio_constraint_list -->
    <xsd:complexType name="nutrient_ratio_constraint_list">     
        <xsd:sequence>                        
            <xsd:element name="nutrient_ratio_constraint" type="nutrient_ratio_constraint" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>              
    <!-- nutrient ratio constraint -->
    <xsd:complexType name="nutrient_ratio_constraint">       
        <xsd:sequence>
            <xsd:sequence minOccurs="2" maxOccurs="2">                                             
                <xsd:element name="nutrientid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>                            
            <xsd:element name="relationshipid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="a" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="b" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- percent of total nutrient constraint_list -->
    <xsd:complexType name="nutrient_percent_constraint_list">     
        <xsd:sequence>                        
            <xsd:element name="nutrient_percent_constraint" type="nutrient_percent_constraint" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>              
    <!-- percent of total nutrient constraint -->
    <xsd:complexType name="nutrient_percent_constraint">       
        <xsd:sequence>                        
            <xsd:element name="foodid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>            
            <xsd:element name="nutrientid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="relationshipid" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>                       
            <xsd:element name="b" type="xsd:decimal" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <!-- food -->
    <xsd:complexType name="food">
        <xsd:sequence>
            <xsd:element name="foodid" type="xsd:string" />
            <xsd:element name="name" type="xsd:string" />
            <xsd:element name="alcohol" type="xsd:decimal" />
            <xsd:element name="calcium" type="xsd:decimal" />
            <xsd:element name="carbohydrate_by_difference" type="xsd:decimal" />
            <xsd:element name="cholesterol" type="xsd:decimal" />
            <xsd:element name="choline" type="xsd:decimal" />
            <xsd:element name="complete_protein" type="xsd:decimal" />
            <xsd:element name="copper" type="xsd:decimal" />
            <xsd:element name="cost" type="xsd:decimal" />
            <xsd:element name="dha" type="xsd:decimal" />
            <xsd:element name="digestible_carbohydrate" type="xsd:decimal" />
            <xsd:element name="energy_alcohol" type="xsd:decimal" />
            <xsd:element name="energy_carbohydrate" type="xsd:decimal" />
            <xsd:element name="energy_digestible" type="xsd:decimal" />
            <xsd:element name="energy_fat" type="xsd:decimal" />
            <xsd:element name="energy_gross" type="xsd:decimal" />
            <xsd:element name="energy_protein" type="xsd:decimal" />
            <xsd:element name="epa" type="xsd:decimal" />
            <xsd:element name="fat" type="xsd:decimal" />
            <xsd:element name="fiber" type="xsd:decimal" />
            <xsd:element name="fluoride" type="xsd:decimal" />
            <xsd:element name="folate" type="xsd:decimal" />
            <xsd:element name="glycemic_load" type="xsd:decimal" />
            <xsd:element name="iron" type="xsd:decimal" />
            <xsd:element name="linoleic" type="xsd:decimal" />
            <xsd:element name="linolenic" type="xsd:decimal" />
            <xsd:element name="magnesium" type="xsd:decimal" />
            <xsd:element name="manganese" type="xsd:decimal" />
            <xsd:element name="mufa" type="xsd:decimal" />
            <xsd:element name="niacin" type="xsd:decimal" />
            <xsd:element name="pantothenic_acid" type="xsd:decimal" />
            <xsd:element name="phosphorus" type="xsd:decimal" />
            <xsd:element name="potassium" type="xsd:decimal" />
            <xsd:element name="protein" type="xsd:decimal" />
            <xsd:element name="pufa" type="xsd:decimal" />
            <xsd:element name="riboflavin" type="xsd:decimal" />
            <xsd:element name="selenium" type="xsd:decimal" />
            <xsd:element name="sfa" type="xsd:decimal" />
            <xsd:element name="sodium" type="xsd:decimal" />
            <xsd:element name="thiamin" type="xsd:decimal" />
            <xsd:element name="vitamin_a" type="xsd:decimal" />
            <xsd:element name="vitamin_b12" type="xsd:decimal" />
            <xsd:element name="vitamin_b6" type="xsd:decimal" />
            <xsd:element name="vitamin_c" type="xsd:decimal" />
            <xsd:element name="vitamin_d" type="xsd:decimal" />
            <xsd:element name="vitamin_e" type="xsd:decimal" />
            <xsd:element name="vitamin_k" type="xsd:decimal" />
            <xsd:element name="water" type="xsd:decimal" />
            <xsd:element name="weight" type="xsd:decimal" />
            <xsd:element name="zinc" type="xsd:decimal" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>